.masthead {
  height: 100vh;
  min-height: 500px;
  background-image: url('../images/mech-background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.css-typing p {
  border-right: .10em solid orange;
  font-family: "Courier";
  font-size: 20px;
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 10px;
  color: white;
}

.css-typing p:nth-child(1) {
  width: 13.3em;
  -webkit-animation: type 2s steps(40, end);
  animation: type 2s steps(40, end);
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.css-typing p:nth-child(2) {
  width: 7.3em;
  opacity: 0;
  -webkit-animation: type 2s steps(40, end);
  animation: type2 2s steps(40, end);
  -webkit-animation-delay: 2s;
  animation-delay: 2s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.css-typing p:nth-child(3) {
  width: 5.3em;
  opacity: 0;
  -webkit-animation: type 2s steps(20, end);
  animation: type3 2s steps(20, end);
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

@keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: .15em solid orange;
  }
  100% {
    border: none;
  }
}

@-webkit-keyframes type {
  0% {
    width: 0;
  }
  99.9% {
    border-right: .15em solid orange;
  }
  100% {
    border: none;
  }
}

@keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: .15em solid orange;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@-webkit-keyframes type2 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  99.9% {
    border-right: .15em solid orange;
  }
  100% {
    opacity: 1;
    border: none;
  }
}

@keyframes type3 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes type3 {
  0% {
    width: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}
@-webkit-keyframes blink {
  50% {
    border-color: tranparent;
  }
}

.resume {
  margin-left: 7%;
  margin-right: 4%;
}

.points {
  font-size: medium;
  font-weight: 100;
}

.dark-background {
  background-color: #ADD8E6;
}

.light-background {
  background-color: #E0FFFF;
}

@media (min-width: 992px) {
   .row-width-edu {
     width:400px;
   }
}

@media (min-width: 992px) {
  .row-width-career {
    width:600px;
  }
}

@media (min-width: 992px) {
  .career {
    margin-left: 500px;
    margin-top: -490px !important;
    z-index: -1;
  }
}

@media (min-width: 992px) {
  .languages {
    margin-top: -255px;
  }
}

@media (min-width: 992px) {
  .about-me {
    margin-right: 58px;
  }
}

.resize-img{
  width: 300px;
  height:318px;
}

.progress{
	border-radius: 20px;
}

.skill-name{
	text-transform: uppercase;
	margin-left: 10px;
	padding-left:10px;
	padding-top: 2.5px;
	float:left;
	font-family: 'Raleway', sans-serif;
	font-size: 1.1em;
}

.progress .progress-bar, .progress .progress-bar.progress-bar-default {
    background-color: #17a2b8 ;
}
.progress  .progress-bar{
    animation-name: animateBar;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 1.0s;
}

@keyframes animateBar {
  0% {transform: translateX(-100%);}
  100% {transform: translateX(0);}
}

.title-size {
  font-size: 15px;
}

.background-green {
  background-color: #BAD0B9;
}

#button {
  display: inline-block;
  background-color: #FF9800;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#button::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
#button:hover {
  cursor: pointer;
  background-color: #333;
}
#button:active {
  background-color: #555;
}
#button.show {
  opacity: 1;
  visibility: visible;
}
